<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Here's all the employees</h1>
    <a href="/employees/new">Add a new Employee</a>

    <ul>
        <% employees.forEach((employee) => { %>
            <li>
                <a href="/employees/<%= employee._id %>/records">Employee: <%= employee.name %></a>
                ID: <%= employee.id %>
            </li>
        <% }) %>
    </ul>
</body>